#vector-bg {
  background-image: url("../../assets/Background.png");

}

.linear-gradient-bg {
  background-image: linear-gradient(to right,
      white 10%,
      #0052CC 50%,
      #0052CC 50%,
    );
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInFromRight 1s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.body-no-scroll {
  overflow-x: hidden;
}

/* .bodyBorder{
  height: 975px !important;
} */
@media (min-width: 1540px) and (max-width: 1690px) {
  .image-ellipse-container {
    width: 600px !important;
  }

  .text-loyal-container {
    width: 800px;
    padding: 24px;
  }

}


@media (min-width: 1536px) and (max-width: 1980px) {

  .main-container {
    margin-bottom: 100px;
  }

  .text-container {
    margin-top: 110px;
  }

  .text-loyal-container {
    width: 800px;
  }

  .text-container {}

  /* .img-container {
    padding-top: 220px;


  } */
}

.main-container {
  padding: 60px 130px 30px 130px;
  /* margin-bottom: 100px; */
}


.hero-section-container {
  margin-top: 30px;


}



/* .img-container {
  padding-top: 220px;

} */

@media (max-width: 1194px) {
  .main-container {
    padding: 60px 30px 60px 30px;
  }
}

@media (max-width: 925px) {}


@media (max-width: 430px) {}

@media (min-width: 320px) and (max-width: 340px) {}



@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.img-container:hover .image-ellipse-container {
  animation: float 6s ease-in-out infinite;
}



@media (min-width: 744px) and (max-width: 1194px) {
  .hero-section-container {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .text-loyal-container {
    width: 90% !important;
  }

  .image-ellipse-container {
    width: 600px !important;
    margin: auto;
  }

  .main-container {
    height: 800px !important;
  }

}

@media (min-width: 1193px) and (max-width: 1280px) {
  .image-ellipse-container {
    width: 500px !important;
  }

  .text-loyal-container {
    width: 550px !important;
  }
  .main-container{
    height: auto  !important;
  }
}

@media (min-width: 1195px) and (max-width: 1230px) {
  .image-ellipse-container {
    width: 450px !important;
  }

  .text-loyal-container {
    width: 550px !important;
  }
  
  .main-container{
    height: auto  !important;
  }
}

@media (min-width: 1525) and (max-width: 1537px) {
  .text-container {
    margin-top: 0px !important;
  }
}


@media (min-width: 639px) and (max-width: 765px) {
  .text-loyal-container {
    padding-top: 5rem !important;

  }
}

.main-container{
  height: auto !important;
}



/* @media (min-width: 1982px) and (max-width: 2560px) {
  .text-container {
    margin-top: 110px !important;
  }
  .bg-container{
    width: 1990px  !important;
    margin:  auto !important;
  }
} */

@media (min-width: 320px) and (max-width: 324px){
  .text-onepoket{
    font-size: 25px !important;
  }
}

