/* HoverEffect.css */
.hover-line-container {
    position: relative;
    padding-left: 20px;
    /* Adjust this padding to position the text correctly */
}

.hover-line-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 60px;
    background-color: #0052CC;
    transition: width 0.3s ease-in-out;
}

.hover-line-container:hover::before {
    width: 4px;

}

@media (min-width: 300px) and (max-width: 360px) {
    #span20{
        font-size: 62px;
    }

    #spanSec{
    font-size: 42px;
    }
}