.bg-container {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  /* height: 727px; */
  background-color: #004699;
  background-image: url('../../assets/outlined.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
  /* Ensures the image scales appropriately */
  /* width: 1440px; */
  margin: auto;
  /* margin-top: 10px; */
}

.dotted-line {
  border-top: 2px dashed white;
  /* Dashed white line */
  height: 1px;
}

@media only screen and (max-width: 700px) {
  .bg-container {}
}

@media (min-width: 370px) and (max-width: 393px) {
  #stream {
    width: 340px;
  }
}


/* @media (min-width: 765px) and (max-width: 1020px) {
 
  .fold2-text-container{
    width: 80% !important;
    margin: auto  !important;
  }
}

@media (min-width: 1020px) and (max-width: 1280px) {
 
  .fold2-text-container{
    width: 100% !important;
    margin: auto  !important;
  }
} */


@media (min-width:768px) and (max-width: 824px) {
  .text-container {
    width: 80% !important;
    margin: auto !important;

  }
}