.text-container-h1 {
    border-radius: 0rem 0.625rem 0.625rem 0.625rem;
    background: var(--Primary, #0052CC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 11.93rem;

}

.h1-container {
    color: #FFF;

    font-family: "Plus Jakarta Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-container-p1 {
    border-radius: 0rem 0.625rem 0.625rem 0.625rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 15.93rem;
}

.p1-container {
    color: #231F20;
    font-family: "Plus Jakarta Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@keyframes fadeInStack {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-anim:nth-child(1) {
    animation: fadeInStack 12s infinite;
    animation-delay: 0s;
}

.text-anim:nth-child(2) {
    animation: fadeInStack 12s infinite;
    animation-delay: 2s;
}

.text-anim:nth-child(3) {
    animation: fadeInStack 12s infinite;
    animation-delay: 4s;
}

.text-anim:nth-child(4) {
    animation: fadeInStack 12s infinite;
    animation-delay: 6s;
}

.text-anim:nth-child(5) {
    animation: fadeInStack 12s infinite;
    animation-delay: 8s;
}

.text-anim:nth-child(6) {
    animation: fadeInStack 12s infinite;
    animation-delay: 10s;
}
