@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans';
  overflow: hidden !important;
}

/* Add this to your CSS file */


.inter {
  font-family: 'Inter';
}

.reddit {
  font-family: "Reddit Sans",
}




.nav-top-font {
  font-family: 'Pontano Sans';
}

/* .footer-bg{
  background-image: url('./assets/Dot.png');
  background-repeat: no-repeat;
} */

.button-id {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);

}

.input {
  color: black;
}

.input:focus {
  outline: 1px solid #0052cc;
  border: 1px solid #0052cc;
}

.input:focus-within {
  outline: 1px solid #0052cc;
  border: 1px solid #0052cc;

}


.fixed-button {
  background: #fff !important;
  position: sticky;
  bottom: 0px;
  z-index: 999;
  margin: 0 auto !important;
  padding: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-name: sticky-animation;
  animation-name: sticky-animation;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes sticky-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.custom-slider .slick-slide {
  margin: 0 10px;
  /* Adding margin to each slide */
}

.slick-list {
  padding: 0 10px;
  /* Adding padding inside the container to prevent clipping */
}

.slick-track {
  display: flex;
  /* Ensure the slides remain aligned */
}


.your-element {
  background-image: url('../src/assets/blur.svg');
 
  



}

/* .your-element1 {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22813%22%20height%3D%221356%22%20viewBox%3D%220%200%20813%201356%22%20fill%3D%22none%22%3E%3Cg%20filter%3D%22url(%23filter0_f_3044_3337)%22%3E%3Cpath%20d%3D%22M198.631%20513.88C218.465%20523.054%20236.607%20536.707%20249.466%20554.361C261.692%20571.148%20262.788%20593.144%20270.426%20612.45C277.224%20629.636%20287.064%20645.151%20292.383%20662.85C298.144%20682.021%20300.677%20701.542%20303.168%20721.402C306.354%20746.814%20319.288%20773.771%20309.248%20797.337C299.657%20819.849%20274.703%20833.469%20251.766%20842.053C229.545%20850.37%20204.866%20842.873%20181.255%20845.239C160.366%20847.332%20140.299%20858.948%20119.626%20855.294C99.0105%20851.649%2085.1545%20831.611%2065.3761%20824.753C41.6293%20816.519%2012.5744%20825.261-8.11455%20811.001C-28.1923%20797.162-38.4842%20772.09-45.0659%20748.628C-51.5665%20725.456-54.0234%20699.631-45.6914%20677.05C-37.3967%20654.571-15.4739%20640.567%201.17237%20623.318C14.1723%20609.847%2032.9608%20602.015%2042.3467%20585.824C55.2584%20563.549%2046.5277%20530.444%2065.2564%20512.766C82.0424%20496.921%20109.737%20500.219%20132.832%20500.412C155.412%20500.601%20178.14%20504.402%20198.631%20513.88Z%22%20fill%3D%22%238EBCFD%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_f_3044_3337%22%20x%3D%22-551%22%20y%3D%220%22%20width%3D%221364%22%20height%3D%221356%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%22250%22%20result%3D%22effect1_foregroundBlur_3044_3337%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */