@keyframes fadeToWhite {
  0% {
    color: #FF7070; /* Initial color */
  }
  50% {
    color: #FF707080; /* Mid-transition color */
  }
  100% {
    color: #FF7070; /* Back to initial color */
  }
}

.text-animation {
  font-size: 52px;
  line-height: 70%;
  font-weight: 800;
  letter-spacing: 0.05em;
  animation: fadeToWhite 10s ease-in-out infinite; /* Smoother easing */
}
